{% block titulo %} {% endblock %}
{% block encabezado %}
	<h1>Crear Item </h1>
{% endblock %}
{% block contenidos %}
	<form id='form' method='POST' enctype='multipart/form-data' action=''>{% csrf_token %}
		<table border="2">
	   {{form.as_table}}
	</table>

		<p><input type='submit' value='ACTUALIZAR'/></p>
	</form>
{% endblock %}